#header{
    position: relative;
    background-color: blueviolet;
    display: flex;
    left: 30%;
    width: 50%;
    justify-content: space-between;
}


#title{
    position: relative;
}

#headerbutton{
    position: relative;
    background-color: plum;
    top: 20px;
    border-radius: 10px;
    height: 10%;
    margin: 10px;
}

img{
    position: relative;
    width: 20%;
    height: 20%;
}

#description{
    position: relative;
    width: 60%;
    margin: 5px
}

#webtitle{
    margin: 5px;
}

#maindiv{
    position: relative;
    left: 30%;
    width: 50%;
    background-color: rgb(210, 164, 253);
    border-radius: 10px;
}